/*  Colors  */
$c1: #F5F9E9; //Ivory          
$c2: #F9DEC9; //Champagne pink 
$c3: #DC6504; //Cocoa Brown    
$c4: #9D4B43; //Chestnut       
$c5: #14110F; //Smoky Black   

$c6: #888; // [FAKE] Grayish 
$cLink: rgb(0, 102, 204); // [FAKE]
$cDarken: rgba(0, 0, 0, 0.1); // [FAKE]

$insetRound: 10px;
$insetHeight: 2.5em;
$scrollPastEnd : 5em;

@font-face {
  font-family: 'FQ Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Italic'), url('/static/ui/friz-quadrata-std-italic-587033b2c95df.woff') format('woff');
}


@font-face {
  font-family: 'FQ';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Medium'), url('/static/ui/friz-quadrata-std-medium-5870338ec7ef8.woff') format('woff');
}


@font-face {
  font-family: 'FQ Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Bold'), url('/static/ui/friz-quadrata-std-bold-587034a220f9f.woff') format('woff');
}


@font-face {
  font-family: 'FQ Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Bold Italic'), url('/static/ui/friz-quadrata-std-bold-italic-587033d6d4298.woff') format('woff');
}

body,
html {
  margin: 0;
  font-size: 14px;
}

body {
  font-family: 'FQ', 'Roboto', Arial, sans-serif;
  background: $c1;
}

/*******************************************************************************
 ***  Inset  ***
 *******************************************************************************/
nav.inset {
  height: $insetHeight;
  padding: 4px 4px 4px 4px;

  border-bottom-left-radius: $insetRound;
  border-bottom-right-radius: $insetRound;
  box-sizing: border-box;

  background-color: $c1;
  box-shadow: 0 0 3px 1px $c3;

  display: flex;
  justify-content: stretch;
  align-items: stretch;

  width: 94%;

  position: sticky;
  top: 0;
  left: 5%;

  span {
    align-self: center;
    margin: 0 1em 0 1em;
  }

  input {
    $border: 1px solid black;

    display: block;
    flex: 1;
    border: $border;
    border-right: 0;

    &.nt_key {
      flex: 0;
      border-top-left-radius: $insetRound;
      border-bottom-left-radius: $insetRound;
      background: white;
    }

    &:first-child {
      border-top-left-radius: $insetRound;
      border-bottom-left-radius: $insetRound;
    }

    &:nth-last-child(2) {
      border-top-right-radius: $insetRound;
      border-bottom-right-radius: $insetRound;
      border-right: $border;
    }
  }

  button {
    margin-left: 1em;
  }
}

/*******************************************************************************
 ***  Aside  ***
 *******************************************************************************/

aside {
  $border: 0;
  $rounding: 20px;

  width: 40em;

  display: flex;
  flex-direction: column;

  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;

  background-color: $c1;
  box-shadow: 0 0 4px 1px $c3;
  border-top: $border;
  border-bottom: $border;

  &.hidden {
    width: 0em;
    padding: 0.2em;
  }

  &.enter {
    transition: transform 500ms;

    &.enterstart {
      transform: translate(-100%, 0);
    }

    &.enterend {
      transform: translate(0%, 0);
    }
  }

  &.leave {
    transition: transform 350ms;

    &.leavestart {
      transform: translate(0%, 0);
    }

    &.leaveend {
      transform: translate(-100%, 0);
    }
  }

  input {
    font-family: "FQ";
  }

  &.left {
    left: 0;
    margin-right: 1em;
    border-top-right-radius: $rounding;
    border-bottom-right-radius: $rounding;
    border-right: $border;
    padding: 0;

    &.edit>.controls {
      margin-bottom: 0.5em;
      justify-content: stretch;

      &>button {
        margin: 0.2em;
        flex: 1;

        &:last-child {
          border-top-right-radius: $rounding;
        }
      }
    }
  }

  &.right {
    right: 0;
    margin-left: 1em;
    border-top-left-radius: $rounding;
    border-bottom-left-radius: $rounding;
    border-left: $border;
  }

  &>.description {
    font-family: "FQ";
    font-size: 14px;
  }

}


div.controls {
  flex-direction: row;
  display: flex;
  justify-content: right;

}

div.md-editor {
  display: flex;
  flex-direction: column;
  flex: 1;

  &>textarea {
    resize: none;
    word-wrap: normal;
    height: fit-content;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid $c6;
    flex: 1;


    &:focus {
      outline: auto;
    }

  }
}

/*******************************************************************************
 ***  Main  ***
 *******************************************************************************/

main {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 100vh;
  overflow: hidden;

  section {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
}

/*******************************************************************************
****     THE TABLE     *********************************************************
*******************************************************************************/
.ticket-table {
  $border: 1px solid $c5;
  margin-bottom: 4em;

  // I keep forgetting this...
  border-collapse: collapse;

  &>tr {
    &.highlight {
      background-color: $cDarken;
    }

    &:first-child>td {
      border-top: $border;
    }

    &>td {
      border-bottom: $border;

      box-sizing: border-box;
      padding: 2px 5px;

      &>img {
        vertical-align: middle;
        width: 1.7em;
      }

      &:nth-child(1) {
        line-height: 1.5em;
      }

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        text-wrap: nowrap;
      }


      &>a.ticket {
        text-decoration: none;
        color: $cLink;

        &:hover {
          text-decoration: underline;
        }

        &:visited {}
      }
    }


  }
}

/*******************************************************************************
 ***     Tickets     *** 
 ******************************************************************************/
.ticket {
  .title {
    // max-width: 40em;
    font-size: 1.1em;
  }

  .description {}
}

@mixin svg-button($name) {
  background-color: transparent;
  background-image: url('/static/ui/icons/button_#{$name}.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  border: 0;
  height: 2em;
  aspect-ratio: 1;
  cursor: pointer;

  &:hover {
    background-image: url('/static/ui/icons/button_#{$name}_hover.svg');
  }

  &:active {
    background-image: url('/static/ui/icons/button_#{$name}.svg');
  }

  // It's a different story if we'd like to have text inside...
  &.text {
    $h: 2.5em;
    $bg_x_pad: 0.25em;
    $bg_y_pad: 0.30em;

    background-size: auto calc($h - $bg_y_pad * 2);
    background-position-y: center;
    background-position-x: left $bg_x_pad;
    background-clip: padding-box;
    aspect-ratio: unset;

    border-radius: 6px;
    margin: 1px;
    padding-left: calc($h + 2 * $bg_x_pad);
    padding-right: 1em;
    height: $h;
    line-height: $h;
    border: 1px solid $c6;

    &:hover {
      background-color: $c2;
    }

  }

}

button.btn-cross {
  @include svg-button("cross");
}

button.btn-plus {
  @include svg-button("plus");
}

button.btn-checkmark {
  @include svg-button("checkmark");
}

/******************************************************************************
 *** Tooltip ***
 ******************************************************************************/
div.tooltip {
  display: flex;
  height: 200px;
  flex-direction: column;
  max-width: 40%;
  padding: 1em;
  border-radius: $insetRound;

  position: absolute;
  top: 0;
  left: 0;

  overflow: scroll;

  background: $c2;
  border: 1px solid $c5;

  &>img {
    width: 2em;
  }
}