/* ==== Ye who reads this, admire this gem from 2022 ====

Text and music: Introvert Junior

Text:

INTRO
-------------
Your ears are burning with pleasure . . . from the massage I gave you.
Don't worry about your boyfriend. You're not about to cheat. I am just innocently massaging your feet . . .

Verse I

Valentina is a web designer. 
I am standing right behind her.
She deals with a lot of CSS,
for her nervous system this is too much stress.

Paddings, margins, shadows, borders . . .
I massage her tired shoulders.
I am an optimist, lustful programmist,
the most wanted sexual terrorist.

Bridge
--------------------------------------
Tonight at 8 pm - relationship problem.
Call your marriage attorney, the programmer is horny.

CHORUS
-----------------------------------------
I'm the office tiger and I wanna be your rider.
Hey, office b****s smile, and enjoy my testosteronish style.

Verse II
-------------------------------------------------
Sonya deals with a lot of money-money.
She is the accountant of the company.
Her face is a kind of unkind,
but she looks fantastic from behind.

Rumors say she is insulting her v*****
with a cheap vibrator made in China.
They also say she permits some Rock and Roll
into the depths of the forbidden hole.

BRDIGE

CHORUS

Verse III

The HR Girl with the sexy skirt, 
I know your brain is plunged in a pinky dirt.
Show me how you scratch with these french nails,
I wanna feel it - feel it, in details.

The fuss on my quinces should be wiped off,
very carefully, slowly and with love.
Plug and Play, unplug and pray Opsss!
Some quince jelly on your belly.

BRIDGE

CHORUS

*/


/*  Colors  */
$c1: #F5F9E9; //Ivory          
$c2: #F9DEC9; //Champagne pink 
$c3: #DC6504; //Cocoa Brown    
$c4: #9D4B43; //Chestnut       
$c5: #14110F; //Smoky Black   

$c6: #A8A8A8; // [FAKE] Grayish 
$cLink: rgb(0, 102, 204); // [FAKE]
$cDarken: rgba(0, 0, 0, 0.1); // [FAKE]
$cGrayBorder: #888;

$scrollPastEnd : 5em;
$round: 8px;


@font-face {
  font-family: 'FQ Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Italic'), url('/static/ui/fonts/friz-quadrata-std-italic.woff') format('woff');
}


@font-face {
  font-family: 'FQ';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Medium'), url('/static/ui/fonts/friz-quadrata-std-medium.woff') format('woff');
}


@font-face {
  font-family: 'FQ Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Bold'), url('/static/ui/fonts/friz-quadrata-std-bold.woff') format('woff');
}

@font-face {
  font-family: 'FQ Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Friz Quadrata Std Bold Italic'), url('/static/ui/fonts/friz-quadrata-std-bold-italic.woff') format('woff');
}

body,
html {
  margin: 0;
  font-size: 14px;
}

body {
  font-family: 'FQ', 'Roboto', Arial, sans-serif;
  background: $c1;
  overflow: hidden;
}

/*******************************************************************************
 ***  Aside  ***
 *******************************************************************************/

aside {
  $border: 0;
  $rounding: 20px;

  width: 40em;

  display: flex;
  flex-direction: column;

  padding: 0.2em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;

  background-color: $c1;
  box-shadow: 0 0 4px 1px $c3;
  border-top: $border;
  border-bottom: $border;


  &.enter {
    transition: transform 500ms;

    &.enterstart {
      transform: translate(-100%, 0);
    }

    &.enterend {
      transform: translate(0%, 0);
    }
  }

  &.leave {
    transition: transform 350ms;

    &.leavestart {
      transform: translate(0%, 0);
    }

    &.leaveend {
      transform: translate(-100%, 0);
    }
  }

  input {
    font-family: "FQ";
  }

  &.left {
    left: 0;
    margin-right: 1em;
    border-top-right-radius: $rounding;
    border-bottom-right-radius: $rounding;
    border-right: $border;

    &.edit {
      div.controls {
        justify-content: stretch;

        // Whole-issue controls
        &>button {
          margin: 0 0 0 0.2em;
          flex: 1;

          &:first-child {
            margin: 0;
          }
        }

        &.up>button:last-child {
          border-top-right-radius: $rounding;
          margin-bottom: 0.5em;
        }

        &.down>button:last-child {
          border-bottom-right-radius: $rounding;
        }
      }

      &>div>div.icon-selectors {
        display: flex;
        flex-direction: column;
        border-radius: $round;
        overflow: hidden;
        border: 1px solid #888;
        background-color: #888;
        gap:1px;

        &>div.icon-grid {
          border-radius: 0;
          border:0;
        }
      }
    }
  }

  &.right {
    right: 0;
    margin-left: 1em;
    border-top-left-radius: $rounding;
    border-bottom-left-radius: $rounding;
    border-left: $border;
  }

  &>.description {
    font-family: "FQ";
    font-size: 14px;
  }

}


div.controls {
  flex-direction: row;
  display: flex;
  justify-content: right;
}

div.md-editor {
  display: flex;
  flex-direction: column;
  flex: 1;

  &>textarea {
    resize: none;
    word-wrap: normal;
    height: fit-content;
    min-height: 14em;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px solid $c6;
    flex: 1;


    &:focus {
      outline: auto;
    }

  }
}

/*******************************************************************************
 ***  Main  ***
 *******************************************************************************/

div#content {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 100vh;

  // Because :first-child was broken... had to use .fc as a class
  &>div.fc {
    max-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    $margin: 1em;
    margin: 0 $margin;
    max-width: calc(100vw - $margin * 2);
  }
}

/*******************************************************************************
****     THE TABLE     *********************************************************
*******************************************************************************/


div.icon-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #888;
  border-radius: $round;
  overflow: hidden;
  background-color: #888;
  gap: 1px;

  * {
    user-select: none;
  }

  &>button {
    border: 0;
    padding: 0 0.1em;
    width: 1.3em;
    line-height: 0.9em;
  }

  &>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex: 1 1 2em;
    text-wrap: nowrap;

    &.selected {
      background-color: $c2;
    }

    span {
      padding: .5em;
    }

    &>img {
      height: 32px;
      padding: .1em;
      text-align: center;
      aspect-ratio: 1;
    }
  }
}

/* These are a bit special... */
div.icon-selectors>div.sorting {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: row;
  background-color: #888;
  overflow: hidden;
  margin: 0 0.7em;
  gap: 1px;

  &>div.sorting {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    gap: 1px;

    &>button {
      border: 0;
      padding: 0 0.1em;
      width: 1.3em;
      flex: 1;
    }
  }

  /*TODO:
    These border aligning things
    are making it difficult to which lane
    each icon belongs to.

    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;

    &:nth-child(2) {
      border-top: 1px solid #888;
      border-top-left-radius: $round;
      border-top-right-radius: $round;
    }

    &:nth-last-child(1) {
      border-bottom-left-radius: $round;
      border-bottom-right-radius: $round;
    }
  */
  border: 1px solid #888;
  border-radius: $round;


  &>div.icon-grid {
    flex: 1;
    border: 0;
    border-radius: 0;
  }
}

// Row: Search
div.ticket-search {
  display: flex;
  margin: 0.3em 0;
  justify-content: stretch;

  &>input[type=search] {
    font-family: 'FQ';
    padding: 0.25em 0.35em;
    display: block;
    border-radius: $round;
    flex: 1 1 20em;
    border: 1px solid #888;
  }
}

div.ticket-table {
  overflow-y: auto;
  overflow-x: hidden;

  &>div {
    padding: 1em;
  }

  &>table {
    $border: 1px solid $c6;
    margin-bottom: 4em;
    border: $border;
    padding-right: 2em;

    // I keep forgetting this...
    border-collapse: collapse;

    &>tr {
      &.highlight {
        background-color: $cDarken;
      }

      &:first-child>td {
        border-top: $border;
      }

      &>td {
        border-bottom: $border;
        white-space: nowrap;
        box-sizing: border-box;

        &.drag-me {
          user-select: none;
        }

        &.created {
          text-wrap: nowrap;
        }

        &.title {
          white-space: unset;

          &>div {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &:first-child {
          padding-left: 0.3em;
        }

        &:last-child {
          padding-right: 0.3em;
        }

        &.icon {
          text-align: center;
        }

        &>img {
          vertical-align: middle;
          height: 2em;
          max-width: 1.7em;
        }


        &:nth-child(7) {}


        &>a.ticket {
          text-decoration: none;
          color: $cLink;

          &:hover {
            text-decoration: underline;
          }

          &:visited {}
        }
      }

    }
  }
}

/*******************************************************************************
 ***     Tickets     *** 
 ******************************************************************************/
.ticket {
  .title {
    // max-width: 40em;
    font-size: 1.1em;
  }

  .description {}
}

@mixin svg-button($name) {
  background-color: transparent;
  background-image: url('/static/ui/icons/button_#{$name}.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  border: 0;
  // height: 2em;
  aspect-ratio: 1;
  cursor: pointer;

  &:hover {
    background-image: url('/static/ui/icons/button_#{$name}_hover.svg');
  }

  &:active {
    background-image: url('/static/ui/icons/button_#{$name}.svg');
  }

  // It's a different story if we'd like to have text inside...
  &.text {
    $h: 2.5em;
    $bg_x_pad: 0.25em;
    $bg_y_pad: 0.30em;

    background-size: auto calc($h - $bg_y_pad * 2);
    background-position-y: center;
    background-position-x: left $bg_x_pad;
    background-clip: padding-box;
    aspect-ratio: unset;

    border-radius: 6px;
    margin: 1px;
    padding-left: calc($h + 2 * $bg_x_pad);
    padding-right: 1em;
    height: $h;
    line-height: $h;
    border: 1px solid $c6;

    &:hover {
      background-color: $c2;
    }

  }

}

button.btn-cross {
  @include svg-button("cross");
}

button.btn-plus {
  @include svg-button("plus");
}

button.btn-checkmark {
  @include svg-button("checkmark");
}

button.btn-pencil-h {
  @include svg-button("pencil_h");
}

button.btn-pencil-45 {
  @include svg-button("pencil_45");
}

/******************************************************************************
 *** Tooltip ***
 ******************************************************************************/
div.tooltip {
  display: flex;
  height: 200px;
  flex-direction: column;
  max-width: 40%;
  padding: 1em;
  $round: 8px;
  border-radius: $round;

  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  background: $c2;
  border: 1px solid $c5;

  &>img {
    width: 2em;
  }
}

div.powerline {
  display: flex;
  height: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
  background-color: $c5;
  color: $c1;

  &>img.logo {
    margin: 1px .3em 2px .3em;

    &:last-child {
      transform: scaleX(-100%);
    }
  }

  &>nav {
    a {
      color: $c1;
    }

    &>ol {
      padding: 0;
      margin: 0;
      list-style: none;

      &>li {
        display: inline;
      }
    }

  }

}

input[type=text].title {
  border-radius: 8px;
  border: 1px solid $c6;
  padding: 0.5em 0.5em;
  font-size: 1.3em;
  font-family: 'FQ';

  font-weight: bold;
  text-align: center;
  outline: none;
  box-sizing: border-box;

  &.as-heading {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }

  &::placeholder {
    font-weight: normal;
    font-style: italic;
    font-size: 0.67em;
  }
}

div.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);

  &>div.new-ticket {
    box-shadow: 0 0 100px 0px rgba(0, 0, 0);
    padding: 2em;
    border-radius: 20px;
    background-color: $c1;
    display: flex;
    flex-direction: column;
    flex: 0.4;
    $lineNumberWidth: 30px;

    &>div.description {
      &.md-editor {
        &>textarea {
          font-family: 'FQ';
          border: 1px solid $c6;
          border-radius: $round;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          outline: none;
          margin-top: 0;
        }
      }
    }

    & .CodeMirror {
      border: 1px solid $c6;
      border-radius: $round;
      border-top-right-radius: 0;
    }

    /* Show the line-numbers with an exact width */
    & .CodeMirror-linenumbers {
      width: $lineNumberWidth;
    }

    /* Make the placeholder italic */
    & .CodeMirror-empty {
      font-style: italic;
    }

    &>div.icon-selectors {
      display: flex;
      justify-content: space-evenly;
      margin-top: 0.3em;
      margin-bottom: 0.5em;
      gap: 5px;

      &>div.icon-grid {

        &:nth-child(2) {
          margin-left: 0;
        }
      }
    }

  }
}